<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
  	<title>dei cafe_予約確認</title>
		<link rel="stylesheet" type="text/css" href="/static/css/rog_result.css">

	</head>
	<body>
		<h3>注文番号{{ canceled_id }}のキャンセルを受け付けました</h3>
	</body>

</html>

