<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
  	<title>dei cafe_注文確認画面</title>
		<link rel="stylesheet" type="text/css" href="/static/css/confirm.css">

	</head>
	<body>
		<h1>ご注文確認</h1>
		<table>
			<tr>
				<td>{{str(here_or_togo_text)}}</td>
				<td>{{str(date)}}</td>
				<td>{{str(time)}}</td>
			</tr>
		</table>

		<br>

		<table class="order_table">
			<tr>
				<th>商品名</th>
				<th>個数</th>
				<th>値段</th>
			</tr>
			<!--1商品づつ配列からdata変数に取得-->
			%for data in data_list:
				%item_name = data["item_name"]
				<tr>
					<td>{{ item_name }}</td>
					<td>{{ int(data["namber"]) }}</td>
					<td>{{ int(data["price"]) * int(data["namber"]) }}</td>
				</tr>
			%end
			%have_cupon = 0	#クーポンを持っている場合は後で1にする
				<tr>
					<td>事前注文クーポン</td>
			%if cupon=='1111'	:
					%have_cupon = 1
					<td>-10％</td>
					<td>-{{int(sum * 0.1)}}</td>
					%sum =int(sum * 0.9)

					%else:
						<td>なし</td>
						<td></td>
					%end
				</tr>
						
				<tr>
					<td>合計金額</td>
					<td></td>
					<td>{{ sum }}</td>
				</tr>
		</table>
			
		<!--注文完了のモーダル-->
		<div class="modal-wrap">
			<input type="radio" id="modal-open" class="modal-open-input" name="modal-trigger"/>
			<label for="modal-open" class="modal-open-label">注文確定</label>
			<input type="radio" id="modal-close" name="modal-trigger"/>
			
			<div class="modal">
				<%
					import sqlite3

					dbname = '2ndApp.db'
					conn = sqlite3.connect(dbname)
					c = conn.cursor() #カーソルオブジェクトをつくる

					time_str = str(time) + ":00"

					#改めて指定された日時が予約可能かを確認
					check = "SELECT last_seat FROM Seats WHERE date='" + str(date)+ "'and time='"+ time_str+"'"
					last_seat = c.execute(check).fetchone()
					c.close()
					last_seat=int(last_seat[0])

					if last_seat == 0: #メニュー選択中に、満席になった場合 
				%>
						<div class="modal-content-wrap">
							<label for="modal-close" class="modal-close-label">×</label>
							<div class="modal-content"><!--モーダルの中身-->
								<h2>エラー発生</h2>
								<p>予約にエラーが発生しました。</p>
								<p>予約日時を変更の上、再度お試しください</p>

							</div>
						</div>
				<%
					else:
						#Reservationsへ登録
						c = conn.cursor() #カーソルオブジェクトをつくる
						insert_Reservations ="INSERT INTO Reservations(reservation_date, reservation_time, cupon, sum, here_or_togo) VALUES ( '"+ str(date) +"','"+ time_str+"',"+ str(have_cupon) +","+ str(sum) +","+ str(here_or_togo) +")"
						c.execute(insert_Reservations)
						conn.commit()

						#reservation_id取得
						select_reservation_id = "select max(reservation_id) from Reservations"
						result = c.execute(select_reservation_id).fetchone()
						reservation_id = str(result[0])

						#オーダーされた商品と個数をひとつずつ取り出し、OrderedItemsテーブル(注文された商品と注文番号などの情報を繋ぐテーブル)へ登録
						for data in data_list:
							#conn = sqlite3.connect(dbname) #無いとCannot operate on a closed database
							c = conn.cursor()
							item_id_str = str(data["item_id"])
							piece_str = str(data['namber'])
							insert_OrderedItems = "INSERT INTO OrderedItems(reservation_id, item_id, item_pieces) VALUES(" + reservation_id + ",'" + item_id_str+ "'," + piece_str +")"
							c.execute(insert_OrderedItems)
							c.close()
							conn.commit()	
						end
						

						#もし店内飲食(here_or_togo=1)なら、Seatsへ残り席の操作
						#conn = sqlite3.connect(dbname)
						c = conn.cursor()
						if here_or_togo == 1:
							update_seats="UPDATE Seats SET last_seat = last_seat -1 WHERE date='"+ str(date) +"' and time='"+ time_str + "'"
							c.execute(update_seats)
							c.close()
							conn.commit()

						end
						%>

						<div class="modal-content-wrap">
							<label for="modal-close" class="modal-close-label">×</label>
							<div class="modal-content"><!--モーダルの中身-->
								<h2>注文番号</h2>
								<div class="order_id_box">
									{{reservation_id}}
								</div>
								<p>ご来店まで注文番号を紛失しないよう、ご注意ください</p>
								<p>ご来店をお待ちしております。</p>
	
							</div>
						</div>
					
					<%
					end #if last_seat == 0:

					conn.close()
				%>

				<label for="modal-close">
						<div class="modal-background"></div>
				</label>
			</div>
		</div>

		<input  type="button" class="back" onclick="history.back()" value="戻る">

	</body>
</html>