<!DOCTYPE html>
<htmllang="ja">
	<head>
		<meta charset="UTF-8">
  	<title>dei cafe_メニュー選択</title>
		<link rel="stylesheet" type="text/css" href="/static/css/menu.css">

	</head>

	<body>
		<h1>メニューを選択してください</h1>
		<p style="color:darkgreen">
			※システム調整中につき、「注文確認へ」のクリックで注文が発生します。<br>
			「注文確認へ」クリック⇒「注文確定」クリックで注文番号を確認し、ご来店時にお伝え下さい。
		</p>
		<form  accept-charset="UTF-8">
			<p class="cupon_box">クーポンコード入力</p>
			<input type="text" class="cupon_box" name="cupon">

			<div class="tab"><!--動的にDBに登録している個数表示することで、今後メニューの変更があっても対応できる-->
				%for category_id, category_value in category_dict.items():
					<label>
						<input type="radio" name = "tab">
							{{category_value}} <!--タブにカテゴリー名を出力-->
					</label>
					<div id={{category_id}}>
					%for item in item_list: #注）itemは1商品分のデータが入った辞書
						%if item["category"] == category_id: #もしその商品のカテゴリーが今表示しようとしているカテゴリーと同じなら以下を処理
							<img src="static/images/{{item['item_id']}}.jpg" alt="{{item['item_name']}}">
							<p>{{item["item_name"]}}</p>
							<p>{{item["price"]}}円</p>
							<input type="number" name="{{item['item_id']}}" placeholder="個数を入力" value="0" min="0">
						%end #if item["category"]=={category_id}
					%end #for item in item_list
					</div>

					
				%end #for category in category_list
				<label>
					<input type="radio" name = "tab"  >
					おすすめ情報
				</label>
				<div>
					ここに社内掲示板のカフェ情報スレッドのリンクなどを貼り、
					カフェ店員からのおすすめ情報を伝えます
	
				</div>
			</div>

			<input type="hidden" name="date" value="{{date}}">
			<input type="hidden" name="time" value="{{time}}"> 
			<input type="hidden" name='here_or_togo' value='{{here_or_togo}}'>

			<input  type="submit" class="to_confirm" value="注文確認へ"  formaction="/confirm" formmethod="post">
			<input  type="submit" class="to_thanks" value="注文せず予約" formaction="/confirm" formmethod="post">		
			<input  type="button" class="back" onclick="history.back()" value="戻る">
		</form>

	</body>

</html>