<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
  	<title>予約一覧 for employee</title>
		<link rel="stylesheet" type="text/css" href="/static/css/reservationView.css">

	</head>
	<body>
		<h1>予約一覧</h1>

		<table class="order_table">
			<tr>
				<th>日にち</th>
				<th>来店時間</th>
				<th>注文番号</th>
				<th>テイクアウト/店内飲食</th>
				<th>到着状況</th>
				<th>対応状況</th>
				<th>担当者</th>
			</tr>
			

			<% for data in order_list: #注文1件ずつ、配列から取得
					if data["here_or_togo"] == 0:
						text1 = "テイクアウト"
					else:
						text1="店内飲食"
					end
			%>
				<tr>
					<td>{{ data["reservation_date"] }}</td>
					<td>{{ str(data["reservation_time"])[:-3] }}</td>
					<td>{{ data["reservation_id"] }}</td>
					<td>{{ text1 }}</td>
					
					% reservation_id = int(data['reservation_id'])
					%if data["come"] == 0:
						<td class ="come">
							<p>未着</p>
							<a href="/come/{{reservation_id}}">到着した</a>
						</td>
					%else:
						<td>到着済み</td>
					%end
					
					%if data["come"] == 1 and data["finish"] == '0':
						<td><a href="/take/{{reservation_id}}">対応する</a></td>
					%elif data["come"] == 0 and data["finish"] == '0':
						<td>ー</td>
					%elif data["finish"] == '1':
						<td>対応中</td>
					%else:
						<td>完了</td>
					%end
					<td>{{ data["employee_id"] }}</td>
				</tr>
			%end
		</table>
	</body>
</html>