<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
  	<title>dei cafe_予約確認</title>
		<link rel="stylesheet" type="text/css" href="/static/css/rog_result.css">

		
		%#入力された注文番号が存在しない場合,ダイアログボックスの動作
		%if len( reservation_data )== 0:
			<script>
				window.alert("注文番号が存在しません。ブラウザの「戻る」ボタンで戻ってください。");
			</script>
		%else:
		</head>
		<body>
			<h1>予約確認</h1>
			<%
			sum=0
			cupon=""
			from bottle import request
			reservation_id = str(request.query.reservation_id)

			data = reservation_data[0]
			%>

			<table>
				<tr>
					<%
					here_or_togo_text=""
					if data['here_or_togo'] == 0:
						here_or_togo_text="店内飲食"
					else:
						here_or_togo_text = "テイクアウト"
					end
					%>
					<td>{{ here_or_togo_text }}</td>
					<td>{{ str(data['reservation_date']) }}</td>
					<td>{{ str(data['reservation_time'])[:-3] }}</td>
					%sum = int(data['sum'])
					%cupon = data["cupon"] 
				</tr>
			</table>
			<br>

			<table class ="order_table">
				<tr>
					<th>商品名</th>
					<th>個数</th>
					<th>値段</th>
				</tr>
				
				%for order in order_list:
					<tr>
						<td>{{ str(order["item_name"]) }}</td>
						<td>{{ int(order["item_pieces"]) }}</td>
						<td>{{ int(order["item_pieces"]) * int(order["price"]) }}</td>
					</tr>
				%end
					<tr>
						<td>事前注文クーポン</td>
					<%if data['cupon'] == 1	:
						#今入っているsum(=割引後の価格)から割引額を求める
						discount = int(sum / 0.9 * 0.1)
						%>
						<td>-10％</td>
						<td>-{{discount}}</td>
					%else:
						<td>なし</td>
						<td></td>
					%end
					</tr>
							
					<tr>
						<td>合計金額</td>
						<td></td>
						<td>{{ sum }}</td>
					</tr>	
			</table>
			<button onclick="location.href='/'" class="back">トップへ戻る</button>

			<form method="post" action="/cancel" onSubmit="return checkSubmit()">
				<input type="hidden" name="reservation_id" value="{{ reservation_id }}">
				<input type="submit" value="キャンセル" class="cancel">
			</form>
			
			<script type="text/javascript">
				function checkSubmit() {
					return confirm("送信しても良いですか？");
				}
			</script>
			
		</body>
	%end
</html>