table {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	border-spacing: 0;
 }
 .order_table tr:last-child {
	background: #fafafb;
	border-top: double 3px #666666;
	font-weight: bold;
	color: #eb3b5a;
 }

 .order_table th {
	padding: 10px;
	background: #26890d;
	color: white;
	border: solid 1px #778ca3;
 }


 table td {
	padding: 10px;
	border: solid 1px #666666;
 }

 .to_confirm{
	position: fixed;
  bottom: 20px; 
  right: 20px;
  padding: 6px 40px;
	font-size: medium;
	color: #fff;
	background-color: #26890d;
}

.back{
	position: fixed;
  bottom: 20px; 
  left: 20px;
  padding: 6px 40px;
	font-size: medium;
	color: #fff;
	background-color: #83208a;
}

.modal-wrap input {
	display: none;
}

.modal-open-label,
.modal-close-label {
	cursor: pointer;
}

.modal-open-label {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 250px;
	margin:0 auto;
	/*padding: .8em 2em;*/
	border: none;
	border-radius: 5px;
	background-color: #26891f;
	color: #ffffff;
	font-weight: 600;
	font-size: 1em;

	position: fixed;
  bottom: 20px; 
  right: 20px;
  padding: 6px 40px;

}

.modal-open-label:hover {
	background-color: #fff;
	color: #26891f;
	outline: 1px solid #26891f;
}

.modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	display: none;
}

.modal-open-input:checked + label + input + .modal {
	display: block;
	animation: modal-animation .6s;
}

.modal-content-wrap {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	max-width: 650px;
	background-color: #fefefe;
	z-index: 2;
	border-radius: 5px;
}

.modal-close-label {
	background-color: #777;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 20px;
	width: 36px;
	height: 36px;
	line-height: 1.6;
	text-align: center;
	display: table-cell;
	position: fixed;
	top: -15px;
	right: -2%;
	z-index: 99999;
	font-size: 1.3em;
}

.modal-content {
	max-height: 50vh;
	overflow-y: auto;
	padding: 39px 45px 40px;
}

.modal-background {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .45);
	z-index: 1;
}

@keyframes modal-animation {
	0% {
			opacity: 0;
	}
	100% {
			opacity: 1;
	}
}

@media only screen and (max-width: 520px) {
	.modal-open-label {
			max-width: 90%;
			padding: .94em 2.1em .94em 2.6em;
	}

	.modal-close-label {
			top: -17px;
			right: -4%;
	}

	.modal-content-wrap {
			width: 90vw;
	}

	.modal-content {
			padding: 33px 21px 35px;
			max-width: 100%;
	}
}

/*モーダルの注文番号を表示するボックスの装飾*/
.order_id_box {
	padding: 0.5em 1em;
	margin: 2em 0;
	border: double 5px #26890d;
}
.order_id_box p {
	margin: 0; 
	padding: 0;
}