.cupon_box {
  font-weight: bold;
}

.tab {
	display: flex;
	flex-wrap: wrap;
	max-width: 500px;
}

.tab > label {
	flex: 1 1;
	order: -1;
	min-width: 70px;
	padding: .7em 1em .5em;
	background-color: #f2f2f2;
	color: #999;
	font-weight: 600;
	font-size: .9em;
	text-align: center;
	cursor: pointer;
}

.tab > label:hover {
	opacity: .8;
}

.tab >label >input {
	display: none;
}


.tab > div {
	display: none;
	width: 100%;
	padding: 1.5em 1em;
	background-color: #fff;
}

.tab label:has(:checked) {
	border-bottom: 4px solid #26890d;
	color: #26890d;
}

.tab label:has(:checked) + div {
	display: block;
}

.to_confirm{
	position: fixed;
  bottom: 20px; 
  right: 20px;
  padding: 6px 40px;
	font-size: medium;
	color: #fff;
	background-color: #26890d;
}

.to_thanks{
	position: fixed;
  bottom: 20px; 
  right: 200px;
  padding: 6px 40px;
	font-size: medium;
	color: #000;
	background-color: #bae61f;
}

.back{
	position: fixed;
  bottom: 20px; 
  left: 20px;
  padding: 6px 40px;
	font-size: medium;
	color: #fff;
	background-color: #83208a;
}

img{
	object-fit: cover;
	width: 100%;
}
