.order_table {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	border-spacing: 0;
 }
 .order_table th {
	padding: 10px;
	background: #26890d;
	color: white;
	border: solid 1px #778ca3;
 }
 .order_table td {
	padding: 10px;
	border: solid 1px #778ca3;
 }
/*到着状況の列*/
.come{
	padding: 5px;
}
.come p{
	margin-top: 5px;
	margin-bottom: 5px;
}