table {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	border-spacing: 0;
 }
 .order_table tr:last-child {
	background: #fafafb;
	border-top: double 3px #666666;
	font-weight: bold;
	color: #eb3b5a;
 }

 .order_table th {
	padding: 10px;
	background: #26890d;
	color: white;
	border: solid 1px #778ca3;
 }


 table td {
	padding: 10px;
	border: solid 1px #666666;
 }

 .cancel{
	position: fixed;
  bottom: 20px; 
  right: 20px;
  padding: 6px 40px;
	font-size: medium;
	color: #fff;
	background-color: crimson;
}

.back{
	position: fixed;
  bottom: 20px; 
  left: 20px;
  padding: 6px 40px;
	font-size: medium;
	color: #fff;
	background-color: #83208a;
}

